* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	background-color: rgb(226, 250, 226);
}
img {
	max-width: 100%;
}
a {
	color: #2A007C;
	transition: all .2s ease-out 0s;
}
a:hover {
	color: #FF5900;
}
#root {
	height: 100%;
}
h1,h2,h3,h4,h5,p,ul {
	margin: 0;
	padding: 0 0 20px;
}
.main_wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}
.main_grid {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 
	"h"
	"c"
	"f";
}
.wrapper {
	min-width: 320px;
	max-width: 1400px;
	padding: 0 15px;
	margin: 0 auto;
}
.content {
	grid-area: c;
}
.content .wrapper {
	height: 100%;
}
.content__grid {
	display: grid;
	grid-template-columns: 3fr 9fr;
	height: 100%;
}
.aside {
	background-color: rgb(253, 253, 220);
	height: 100%;
	padding: 15px;
}
.main {
	background-color: rgb(245, 245, 245);
}
.main__content {
	padding: 15px;
}
.posts {
	padding-bottom: 25px;
}
.postslist {
	padding: 20px 20px 0;
	border: 1px solid #ccc;
}