.button {
	padding: 10px 15px;
	text-transform: uppercase;
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 5px;
	letter-spacing: 2px;
	transition: all .2s ease-out 0s;
	cursor: pointer;
	font-family: Tahoma;
}
.button:hover {
	background-color: rgb(252, 240, 240);
}
.inpText {
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	padding: 5px 15px;
	font-size: 18px;
	line-height: 24px;
	font-family: Tahoma;
}
textarea {
	min-height: 120px;
}